<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
    
      <div class="header">
        <h1>Hi, <%= @user.first_name %>!<small> Welcome to your user profile</small></h1>
      </div>

      <div class="user-profile">
        <ul>
          <li class="lead">My email address is: <b><%= @user.email %></b></li>
          <li class="lead">I am located in: <b><%= @user.zip %></b></li>
          <li class="lead">My favorite (local) resort is <b><%= @user.favorite_resort %></b></li>
          <li class="lead">I ski: <b><%= @user.ski %></b></li>
          <li class="lead">I snowboard:<b><%= @user.snowboard %></b></li>
          <li class="lead">I am a <b><%= @user.level %></b> skier/snowboarder</li>
          <li class="lead">When deciding where to go, I care about: <b><%= @user.decision_driver %></b></li>
          
        </ul>
      </div>

    </div>
  </div>
</div>\